.provider {
    padding-right: 30px;
}

.year {
    padding-left: 30px;
}

.poster {
    width: 83px;
    height: 118px;
    display: inline-flex;
    box-sizing: border-box;
    background-size: contain;
    position: relative;
}

.poster.empty {
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.poster.empty::after {
    content: '?';
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: black;
    opacity: 0.35;
}

.poster.empty span {
    font-size: 15px;
    line-height: 20px;
    font-variant: small-caps;
    z-index: 1;
}

.poster:not(.empty) span {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    line-height: 15px;
    max-height: 45px;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 3px;
    text-transform: uppercase;
    text-align: center;
}